/* Header Start */
body {
  background: linear-gradient(60deg, #506669, #445757, #493d36, #5e543e); 
}
header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(60deg, #7ab9c2, #4d8282, #b57e5e, #c4b082); 
  height: 137px;
}

nav {
  margin-top: 70px;
}

a {
  font-size: 30px;
  margin-left: 50px;
  text-decoration:  none;
}

a:first-child {
  color: orange;
}

.icons {
  height: 30px;
  border-radius: 50%;
}

.account {
  margin: 15px 14px 0 0;
  text-align: center;
}

a, 
.logo,
p:first-child {
  color: white;
}

p > img {
  margin-right: 2%;
}

.username {
  font-size: 20px;
}

.dropdown {
  height: 20px;
}

/* Header End */

/* Article Start */
.page-title,
.logo {
  font-size: 3rem;
  margin: 20px 50px 30px 50px;
}
/* Article End */

/* Card Section Start*/
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 410px);
  grid-gap: 11px;
  margin: 0 50px 0 50px;
}

.card {
  background-color: white;
}

.member {
  height: 40%;
  width: 100%;
}

.info {
  margin: 3%;
  padding: 2px;
  
}

.enjoy {
  background: lightgray
}

.name {
  font-weight: bolder;
}

.bounty {
  color: blue;
}
/* Card Section End*/